$background-dark-blue: #0e1116;

$main-text-color: #4a4a4a;
$sub-text-color: #959b97;

$hover-color: #b9a386;

$button-background-color: #a78963;
$button-text-color: #ac8f6c;
$form-background: #f9ef9f;